@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');


* {
    box-sizing: border-box;
}

body {
    margin: 0px
}

ul {
    padding: 0;
} 

li {
    list-style: none;
}
/* html me pass  */
body {
    font-family: "Roboto", sans-serif;
    background-color: rgb(238, 238, 238);
}

header {
    height: 5rem;
    /* background-color: lightcoral; */
}

.titlebar {
    height: 50%;
    display: flex;
    /* align-items: center; */
    gap: 0.2rem;
    /* margin-bottom: 1px; */

    
}
.title{
    color: rgb(62, 61, 61);
}

.title-img {
 
    height: 40px;
    margin-left: 1rem;
    margin-top:10px;
}
 
.menu-bar {
    display: flex;
    gap: 1rem;
    margin-left: 1rem;
    align-items: center;
    height: 50%;
    padding: 0px 20px 20px 50px ;
    
}

.menu {
    position: relative;
    
}

.menu:hover {
    padding: 1px;
    
}

.menu-items {
    background-color: rgb(238, 238, 238);
    position: absolute;
    top: 20px;
    width: 9rem;
    display: none;
}

.menu:hover  .menu-items {
    display: block;
    z-index: 1;
   
}

.menu  .menu-items li:hover{
    background-color: darkgrey;
  }

.menu-btn{
    background-color: rgb(32, 26, 26);
    color: white;
    border-radius: 10px;
    padding: 10px;
}
li {
    padding: 0.25rem;
    font-size: 20px;
}

.videoInput {
    display: none;
    height: 700px;
}

/* main element */
main {
    background-color: black;
    /* height: calc(100vh - 8rem); */
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video {
    height: 100%;
}


/* footer */
footer {
    height: 4rem;
}

.media-controls{
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-btn {
    background-color: #333;
    border: none;
    padding: 10px;
    border-radius: 50%;
    color: white;
    cursor: pointer;
  }
  .icon-btn i {
    font-size: 23px;
  }
  .icon-btn:hover {
    background-color: #555;
  }